{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-custverf" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <button type="submit" form="form-custverf" data-toggle="tooltip" onclick="$('#svsty').val(1);" title="Save & Stay" class="btn btn-primary">Save & Stay</button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a> {{ text_extension_doc }}</div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if(error_warning) %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-custverf" class="form-horizontal">
          <input type="hidden" name="svsty" id="svsty" />
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-module_custverf_status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_custverf_status" id="input-status" class="form-control">
                {% if(module_custverf_status) %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_apprverified }}</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                <input type="radio" name="module_custverf_apprverified" value="1" {% if(module_custverf_apprverified == 1) %}checked="checked"{% endif %}>
                {{ text_yes }} </label>
              <label class="radio-inline">
                <input type="radio" name="module_custverf_apprverified" value="0" {% if(module_custverf_apprverified == 0) %}checked="checked"{% endif %}>
                {{ text_no }} </label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_notifyadmin }}</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                <input type="radio" name="module_custverf_notifyadmin" value="1" {% if(module_custverf_notifyadmin == 1) %}checked="checked"{% endif %}>
                {{ text_yes }} </label>
              <label class="radio-inline">
                <input type="radio" name="module_custverf_notifyadmin" value="0" {% if(module_custverf_notifyadmin == 0) %}checked="checked"{% endif %}>
                {{ text_no }} </label>
            </div>
          </div>
          <p> {{ entry_shortcode }}
            {{ findscode }}
          </p>
          <ul class="nav nav-tabs" id="language">
            {% for language in languages %}
            <li><a href="#language{{ language['language_id'] }}" data-toggle="tab"><img src="{{ language['imgsrc'] }}" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            {% for language in languages %}
            <div class="tab-pane" id="language{{ language['language_id'] }}">
              <div class="form-group required">
                <label class="col-sm-2 control-label">{{ entry_emailsubj }}</label>
                <div class="col-sm-10">
                  <input type="text" name="module_custverf_emailsubj[{{ language['language_id'] }}]" value="{{ module_custverf_emailsubj[language['language_id']] }}" placeholder="{{ entry_emailsubj }}" id="input-emailsubj{{ language['language_id'] }}" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_emailtemp }}</label>
                <div class="col-sm-10">
                  <textarea name="module_custverf_emailtemp[{{ language['language_id'] }}]" placeholder="{{ entry_emailtemp }}" id="input-emailtemp{{ language['language_id'] }}" data-toggle="summernote" class="form-control summernote">{{ module_custverf_emailtemp[language['language_id']] }}</textarea>
                </div>
              </div>
              <div class="form-group required">
                <label class="col-sm-2 control-label">{{ entry_adminemailsubj }}</label>
                <div class="col-sm-10">
                  <input type="text" name="module_custverf_adminemailsubj[{{ language['language_id'] }}]" value="{{ module_custverf_adminemailsubj[language['language_id']] }}" placeholder="{{ entry_adminemailsubj }}" id="input-adminemailsubj{{ language['language_id'] }}" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_adminemailtemp }}</label>
                <div class="col-sm-10">
                  <textarea name="module_custverf_adminemailtemp[{{ language['language_id'] }}]" placeholder="{{ entry_adminemailtemp }}" id="input-adminemailtemp{{ language['language_id'] }}" data-toggle="summernote" class="form-control summernote">{{ module_custverf_adminemailtemp[language['language_id']] }}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_emailsentpopuptemp }}</label>
                <div class="col-sm-10">
                  <textarea name="module_custverf_emailsentpopuptemp[{{ language['language_id'] }}]" placeholder="{{ entry_emailsentpopuptemp }}" id="input-emailsentpopuptemp{{ language['language_id'] }}" data-toggle="summernote" class="form-control summernote">{{ module_custverf_emailsentpopuptemp[language['language_id']] }}</textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_verisuccesspopuptemp }}</label>
                <div class="col-sm-10">
                  <textarea name="module_custverf_verisuccesspopuptemp[{{ language['language_id'] }}]" placeholder="{{ entry_verisuccesspopuptemp }}" id="input-verisuccesspopuptemp{{ language['language_id'] }}" data-toggle="summernote" class="form-control summernote">{{ module_custverf_verisuccesspopuptemp[language['language_id']] }}</textarea>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% if(isoc2021) %}
<script type="text/javascript">$('.summernote').summernote({height: 300});</script>
{% endif %}
{% if(isoc22) %}
{% endif %}
{% if(isoc23) %}
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
{% endif %}
{% if(isoc30) %}
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
{% endif %}
<script type="text/javascript"> $('#language a:first').tab('show'); </script> 
{{ footer }}